body{
    background-color: green;
    color: whitesmoke;
    font-family: Avenir;
    font: normal 16px;
    line-height: 1.5em;
    margin: 0%;
    
}
.container{
    width: 85%;
    margin:auto;
    
}
.box-aboutus h1{
    font-weight:lighter;
    font-size: 24px;
    font-family: Avenir;
    text-transform:uppercase;
    text-align: center;
    color: yellow;
}
.box-aboutus{
    text-align: center;
    font-size: 14px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
     background-color: rgba(0, 100, 0, 0.3);
    border-bottom-left-radius: 3%;
        border-bottom-right-radius: 3%;
    
}
.box-pages h2{
    font-weight:lighter;
    font-size: 20px;
    font-family: Avenir;
    text-transform:uppercase;
    text-align: center;
    color: yellow;
    display: inline-block; 
    border:0.1px solid yellow;
    padding: 2%;
    background-color:rgba(0, 100, 0, 0.3);
    border-radius: 3%;

}
.box-pages{
    text-align: center;
    font-size: 12px;
    padding:1%; 
    padding-bottom: 1%;
   
    
}
.top_logo{
    background-color: yellow;
    padding: 3%;
    
}
.block-1 {
    height: 300px;
    line-height: 1.5em;
    width: 45%;
    margin: 1%;
    padding: 1%;
    border-radius: 3%;
    
    color: white;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;   
    background-color:rgba(0, 100, 0, 0.3);
    
    
}
.block-2 {
    height: 300px;
    line-height: 1.5em;
    width: 45%;
    margin: 1%;
    padding: 1%;
    border-radius: 3%;
    
    color: white;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;   
    background-color: rgba(0, 100, 0, 0.3);
    
}
.block-3 {
    height: 300px;
    line-height: 1.5em;
    width: 45%;
    margin: 1%;
    padding: 1%;
    border-radius: 3%;
    
    color: white;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;   
    background-color: rgba(0, 100, 0, 0.3);
    
}
.block-4 {
    height: 300px;
    line-height: 1.5em;
    width: 45%;
    margin: 1%;
    padding: 1%;
    border-radius: 3%;
    
    color: white;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;   
    background-color: rgba(0, 100, 0, 0.3);
    
}
.block-5 {
    height: 300px;
    line-height: 1.5em;
    width: 45%;
    margin: 1%;
    padding: 1%;
    border-radius: 3%;
    
    color: white;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;   
    background-color: rgba(0, 100, 0, 0.3);
    
}
.clr{
    
    clear: both;
    
}
#showcase{
    background-image: url(farm.jpg);
    align-content: center;
   
    background-position: center;
    background-size:cover;
    align-content: center;
    width: 100%;
    background-attachment:fixed;
   
    background-blend-mode: difference;
    height: 100%;
    margin-bottom: 0%;   
    
}
.clr{
    
    clear: both;
    
}
.row {
  display:inline-flex;
    height: 3%;
    border-top: yellow solid 0.5px;
    
    width: 100%;
    padding: 15%;
    padding-bottom: 1%;
    padding-top: 4%;
    margin:auto;
   
    background-color: rgba(0, 100, 0, 0.56);
    margin-bottom: 0%;
    box-sizing: border-box;
}
.icon {
   padding: 1%;
    padding-top: 1%; 
    width:25%;
}
.copyright {
    text-align: center;
    font-size: 12px;
    
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgba(0, 100, 0, 0.56);
}

 
