body{
    background-color: darkgreen;
    color: whitesmoke;
    font-family: Avenir;
    font: normal 0.6em;
    line-height: 1em;
    margin: 0%;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(farm.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
    width: 75%;
    margin:0 auto;
    text-align: center;
}
.mission{
    width: 100%;
    text-shadow: 1px 1px 2px black;
  
    font-weight:600;
    font-stretch:semi-expanded;
    font-size: 2.2em;
    line-height: 3.4em;
    font-family: Avenir;
    text-transform:uppercase;
    text-align: left;
    color: yellow;
    margin-top: 8%;
    margin-bottom: 10%;
    
}
a{
    color: yellow;
    text-decoration: none;
}
a:hover{
    color: white;
}
a:active{
    color: dodgerblue;
}
a:visited{
    color:azure;
}
.top_logo{
    background-color:rgba(255, 255, 0, 0.73);
    padding: 0.5%;
    margin-top: 5%;
}
.intro_texts h1{
    font-weight:100;
    font-stretch:semi-expanded;
    font-size: 1em;
    font-family: Avenir;
    text-transform:uppercase;
    text-align: center;
    color: yellow;
}
.intro_texts{
    height: 30vw;
    
    display: inline-flex;
    width: 80%;
    margin:  10%;
    margin-top: 5%;
    padding-top: 0%;
    margin-top: 0%;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 2%;
    font-size: 0.8em;
     
}
.box-aboutus{
    overflow: hidden;
    text-align: center;
    background-color: rgba(0,100,0, 0.6);
   width: 33.33%;
    padding: 1%;
    font-size: 1em;
    margin: 1%;
    font-family: Avenir;
    color: white;
    border: 0.1px yellow solid;
    border-radius: 15px;
    
    
}
.box-Ourgoal{

    width: 33.33%;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0,100,0, 0.6);
    padding: 1%;
    font-size: 1em;
    margin: 1%;
    font-family: Avenir;
    color: white;
    border: 0.1px yellow solid;
    border-radius: 15px;
    
}
.box-ourpartners{
    width: 33.33%;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0,100,0, 0.6);
    padding: 1%;
    font-size: 1em;
    margin: 1%;
    font-family: Avenir;
    color: white;
    border: 0.1px yellow solid;
    border-radius: 15px;
   
}

.page-1{
    width: 100%;
    
    border-radius: 3%;
    font-weight:100px;
    font-size:0.8em;
    font-family: Avenir;
    text-transform:uppercase;
    text-align: center;
    border:0.1px solid yellow;
    background-color: rgba(0,100,0, 0.6);
    overflow:hidden;
    padding: 0.1%;
    margin-top: 100%;
    
    
}
.box-pages{
   
	height: 20vw;
    
    display: inline-flex;
    position:relative;
    width:100%;
    margin: 1%;
    
   
}
.block-1 {
    width: 25%;
   
    position:relative;
    margin: 1%;
    
    border-radius: 50%;
    background-image: url(avo_farm%20image.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll; 
    
}
.block-2 {
    width: 25%;
    margin: 1%;
    
    
     
    position:relative;
   
    border-radius: 50%;
    background-image: url(haas%20avocado.jpg);
    background-position: center;
    background-size: cover;
    
}
.block-3 {
    
   
   width: 25%;
    
    position:relative;
   margin: 1%;
    
    border-radius: 50%;
    background-image: url(etfarmaer.jpg);
    background-position: center;
    background-size: cover;
   
    
}
.block-4 {
    width: 25%;
   
    position:relative;
   
    margin: 1%;
    
    border-radius: 50%;
    background-image: url(girls%20smiling.jpg);
    background-position: center;
    background-size: cover;
   
}
.clr{
    
    clear: both;
    
}
.footer{
    width:100%;
    background-color: rgba(0,100,0, 0.6);
    text-align: center;
}
.icons_line {
    display: inline-flex;
    padding-top: 1.5%;
    padding-bottom: 1%;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
   
    
    
}
.facebookicon{
    margin: 0 auto;
}
.instagramicon{
   
    
    margin: 0 auto;  
}
.youtubeicon{
    
    margin: 0 auto;
}
.twittericon{
    
    margin: 0 auto;
    
    
}
.join{
   
    
    
}
.newsletter{
    width 100%;
   
    text-align: center;
    font-size: 1.2em;
    color: yellow;
    text-align: center;
    font-family: Avenir;
    font-style: normal;
    text-transform: uppercase;
    font-weight: normal;
    
    padding-top: 1%;
    margin-top:4%;
    padding: 1%;
    padding-bottom: 4%;
    
    
}
.links{
    width:100%;
    display: inline-flex;
    text-align: center;
    padding: 0%;
    text-transform: capitalize;
    font-size: 1em;
    list-style: none;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
.fotter_links{
    
    margin-top: 1%;
    margin-bottom: 1%;
    width:20%;
    padding:0.1%;
    text-align: center;
    border-left: 0.1em yellow solid;
}
form input[type=email]{
   
    padding: 1% 20%;
    box-sizing: border-box;
    
    
    border: 2px solid yellow;
    border-radius: 4px;
    
    
}
form input[type=submit]{
    padding: 1% ;
    border: 2px solid yellow;
    border-radius: 4px;
    margin-top: 2%;
    
    color: darkgreen;
    border: 0.1px darkgreen solid;
    
    
    
    
    
}
.copyright{
    width: 100%;
    text-align:center;
    font-size: 0.3em;
    margin: 0%;
    padding-bottom: 1%;
   
}
@media (min-width: 600px){
    
    p{
        font-size:1em;
        line-height: 1.2em;
    
    }
}
@media (max-width: 800px){
    
    p{
        font-size:0.9em;
        line-height: 1.2em;
    
    }
    .intro_texts{
        width:210vw;
        height:115vw;
        overflow: hidden;
        display:block;
      
        align-content: center;
    }
    
}
