
.top_logo{
    
    background-color: yellow;
    color: black;
    font-family: Avenir;
    font-size: 100px;
    font-weight: 600;
    font-style: black;
  
    padding-bottom: 80px;
    margin: auto;
}
body{
    background-color: darkgreen;
    color:white;
    font-family: Avenir;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.6em;
    align-content: center;
    margin: 0;
    
    
}
.container{
    width: 70%;
    margin:auto;
    padding: 0px;
}

.box-2 h1{
    
    font-family: Avenir;
    font-weight:800px;
    text-transform: capitalize;
    text-align: center;
}

.box-2{
    text-align: center;
    margin:40px;
    padding: 40px;
    
    
}